/*.portfolioList { margin-right:-25px;}
	.portfolioItem { margin-right:25px; position:relative; margin-bottom:25px; }
		.listTitle { position:absolute; bottom:0px; width:281px; background:#0070B3; filter:alpha(opacity=85); opacity: 0.85; -moz-opacity:0.85; padding:2px;}
		.listTitle a { color:white; margin:0 10px; letter-spacing:3px;}*/